In [ ]:
## METİN ÖN İŞLEME

In [2]:
metin = """"
A scandal in bohemia! 01
The red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man With? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches """

In [11]:
import pandas as pd

In [ ]:
##STRINGI DF/ARRAY/SERİYE ÇEVİRMEK

In [9]:
v_metin = metin.split("\n")

In [10]:
v_metin

['"',
 'A scandal in bohemia! 01',
 'The red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man With? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches ']

In [16]:
v = pd.Series(v_metin)

In [18]:
metin_vektoru = v[1:len(v)]

In [19]:
metin_vektoru

1                  A scandal in bohemia! 01
2                   The red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man With? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12     The Adventure of the Copper Beeches
dtype: object

In [29]:
mdf = pd.DataFrame(metin_vektoru, columns= ["hikayeler"])

ValueError: Shape of passed values is (12, 1), indices imply (12, 2)

In [21]:
mdf

                                hikayeler
1                A scandal in bohemia! 01
2                 The red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man With? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12   The Adventure of the Copper Beeches

In [ ]:
## büyük küçük harf ##

In [22]:
d_mdf = mdf.copy()

In [23]:
d_mdf

                                hikayeler
1                A scandal in bohemia! 01
2                 The red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man With? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12   The Adventure of the Copper Beeches

In [24]:
list1 = [1,2,3]

In [25]:
str1 = " ".join(str(i) for i in list1)

In [26]:
str1

'1 2 3'

In [30]:
d_mdf["hikayeler"].apply(lambda x: " ".join(x.lower() for x in x.split()))

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: hikayeler, dtype: object

In [31]:
d_mdf = d_mdf["hikayeler"].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [33]:
## Noktalama işaretlerinin silinmesi

In [34]:
#d_mdf = pd.DataFrame(d_mdf , columns= ["hikayeler"])

In [39]:
type(d_mdf)

pandas.core.frame.DataFrame

In [49]:
d_mdf["hikayeler"].str.replace("[^\w\s]","")

1                  a scandal in bohemia 01
2                    the redheaded league2
3                    a case of identity 33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: hikayeler, dtype: object

In [ ]:
## Sayıların silinmesi

In [64]:
data9 = d_mdf["hikayeler"].str.replace("\d","")

In [46]:
## STOPWORDS

                                hikayeler
1                a scandal in bohemia! 01
2                 the red-headed league,2
3                  a case, of identity 33
4            the boscombe valley mystery4
5                   the five orange pips1
6           the man with? the twisted lip
7     the adventure of the blue carbuncle
8      the adventure of the speckled band
9   the adventure of the engineer's thumb
10    the adventure of the noble bachelor
11     the adventure of the beryl coronet
12    the adventure of the copper beeches

In [51]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\volka\anaconda3\lib\site-packages (3.4)
Requirement already satisfied: six in c:\users\volka\anaconda3\lib\site-packages (from nltk) (1.12.0)
Requirement already satisfied: singledispatch in c:\users\volka\anaconda3\lib\site-packages (from nltk) (3.4.0.3)

In [52]:
import nltk

In [54]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\volka\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [55]:
from nltk.corpus import stopwords

In [56]:
sw = stopwords.words("english")

In [57]:
sw

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [66]:
d_mdf["hikayeler"].apply(lambda x: " ".join(x for x in x.split() if x not in sw ))

1            scandal bohemia! 01
2            red-headed league,2
3              case, identity 33
4       boscombe valley mystery4
5              five orange pips1
6          man with? twisted lip
7       adventure blue carbuncle
8        adventure speckled band
9     adventure engineer's thumb
10      adventure noble bachelor
11       adventure beryl coronet
12      adventure copper beeches
Name: hikayeler, dtype: object

In [75]:
f = d_mdf["hikayeler"].apply(lambda x: " ".join(x for x in x.split() if x not in sw ))

1            scandal bohemia! 01
2            red-headed league,2
3              case, identity 33
4       boscombe valley mystery4
5              five orange pips1
6          man with? twisted lip
7       adventure blue carbuncle
8        adventure speckled band
9     adventure engineer's thumb
10      adventure noble bachelor
11       adventure beryl coronet
12      adventure copper beeches
Name: hikayeler, dtype: object

In [85]:
##AZ GECEN KELIMELERIN SILINMESI

import pandas as pd

d_mdf = pd.DataFrame(d_mdf, columns= ["hikayeler"])

In [89]:
sil = pd.Series(" ".join(d_mdf["hikayeler"]).split()).value_counts()[-3:]

In [90]:
 d_mdf["hikayeler"].apply(lambda x: " ".join(x for x in x.split() if x not in sil ))

1                     a scandal in bohemia!
2                   the red-headed league,2
3                          a of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8                 the adventure of the band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: hikayeler, dtype: object

In [ ]:
# Tokenization

In [91]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\volka\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [93]:
!pip install textblob

Requirement already satisfied: textblob in c:\users\volka\anaconda3\lib\site-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in c:\users\volka\anaconda3\lib\site-packages (from textblob) (3.4)
Requirement already satisfied: six in c:\users\volka\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.12.0)
Requirement already satisfied: singledispatch in c:\users\volka\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (3.4.0.3)

In [96]:
import textblob

In [97]:
from textblob import TextBlob

In [98]:
TextBlob(d_mdf["hikayeler"][1]).words

WordList(['a', 'scandal', 'in', 'bohemia', '01'])

In [101]:
d_mdf["hikayeler"].apply(lambda x : TextBlob(x).words)

1                      [a, scandal, in, bohemia, 01]
2                        [the, red-headed, league,2]
3                        [a, case, of, identity, 33]
4                  [the, boscombe, valley, mystery4]
5                         [the, five, orange, pips1]
6                [the, man, with, the, twisted, lip]
7         [the, adventure, of, the, blue, carbuncle]
8          [the, adventure, of, the, speckled, band]
9     [the, adventure, of, the, engineer, 's, thumb]
10        [the, adventure, of, the, noble, bachelor]
11         [the, adventure, of, the, beryl, coronet]
12        [the, adventure, of, the, copper, beeches]
Name: hikayeler, dtype: object

In [ ]:
## STEAMMİNG

In [106]:
from nltk.stem import PorterStemmer
st = PorterStemmer()

In [108]:
 d_mdf["hikayeler"].apply(lambda x: " ".join([st.stem(i) for i in x.split()]))

1                a scandal in bohemia! 01
2                   the red-head league,2
3                     a case, of ident 33
4             the boscomb valley mystery4
5                    the five orang pips1
6             the man with? the twist lip
7       the adventur of the blue carbuncl
8         the adventur of the speckl band
9     the adventur of the engineer' thumb
10      the adventur of the nobl bachelor
11      the adventur of the beryl coronet
12       the adventur of the copper beech
Name: hikayeler, dtype: object

In [ ]:
## Lemmatization

In [110]:
from textblob import Word
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\volka\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [111]:
 d_mdf["hikayeler"].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split() ] ))

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12        the adventure of the copper beech
Name: hikayeler, dtype: object

In [ ]:
##HARF KARAKTER SAYISI

In [116]:
o_df = d_mdf.copy()

In [115]:
d_mdf["hikayeler"].str.len()

1     24
2     23
3     22
4     28
5     21
6     29
7     35
8     34
9     37
10    35
11    34
12    35
Name: hikayeler, dtype: int64

In [114]:
d_mdf["hikayeler"].str.len()

1     24
2     23
3     22
4     28
5     21
6     29
7     35
8     34
9     37
10    35
11    34
12    35
Name: hikayeler, dtype: int64

In [118]:
o_df["harf_sayisi"] = o_df["hikayeler"].str.len()

In [119]:
o_df

                                hikayeler  harf_sayisi
1                a scandal in bohemia! 01           24
2                 the red-headed league,2           23
3                  a case, of identity 33           22
4            the boscombe valley mystery4           28
5                   the five orange pips1           21
6           the man with? the twisted lip           29
7     the adventure of the blue carbuncle           35
8      the adventure of the speckled band           34
9   the adventure of the engineer's thumb           37
10    the adventure of the noble bachelor           35
11     the adventure of the beryl coronet           34
12    the adventure of the copper beeches           35

In [ ]:
## Kelime Sayısı

In [121]:
a = "scandal in a bohemia"

In [122]:
a.split()

['scandal', 'in', 'a', 'bohemia']

In [124]:
len(a.split())

4

In [125]:
o_df.iloc[0:1,0:1]

                  hikayeler
1  a scandal in bohemia! 01

In [128]:
o_df["kelimeler"] = o_df["hikayeler"].apply(lambda x: len (str(x).split(" ")))

In [129]:
o_df

                                hikayeler  harf_sayisi  kelimeler
1                a scandal in bohemia! 01           24          5
2                 the red-headed league,2           23          3
3                  a case, of identity 33           22          5
4            the boscombe valley mystery4           28          4
5                   the five orange pips1           21          4
6           the man with? the twisted lip           29          6
7     the adventure of the blue carbuncle           35          6
8      the adventure of the speckled band           34          6
9   the adventure of the engineer's thumb           37          6
10    the adventure of the noble bachelor           35          6
11     the adventure of the beryl coronet           34          6
12    the adventure of the copper beeches           35          6

                 ### Özel karakterleri yakalamak ve saydırmak###

In [ ]:
o_df["hikayeler"].apply(lambda x: len([x for x in x.split() if x.startswith("adventure")]))

In [132]:
o_df["özel karakter sayisi"] =o_df["hikayeler"].apply(lambda x: len([x for x in x.split() if x.startswith("adventure")]))

In [133]:
o_df

,hikayeler,harf_sayisi,kelimeler,özel karakter sayisi
1,a scandal in bohemia! 01,24,5,0
2,"the red-headed league,2",23,3,0
3,"a case, of identity 33",22,5,0
4,the boscombe valley mystery4,28,4,0
5,the five orange pips1,21,4,0
6,the man with? the twisted lip,29,6,0
7,the adventure of the blue carbuncle,35,6,1
8,the adventure of the speckled band,34,6,1
9,the adventure of the engineer's thumb,37,6,1
10,the adventure of the noble bachelor,35,6,1
11,the adventure of the beryl coronet,34,6,1
12,the adventure of the copper beeches,35,6,1

           Metin görselleştirme

In [136]:
import pandas as pd
data = pd.read_csv("train_tsv", sep ="\t")

FileNotFoundError: [Errno 2] File b'train_tsv' does not exist: b'train_tsv'