In [69]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_validate

%matplotlib inline

In [145]:
data = pd.read_csv("titanic3.csv")

In [146]:
data.drop("cabin",inplace=True,axis=1)

In [148]:
pd.get_dummies(data["sex"])

      female  male
0          1     0
1          0     1
2          1     0
3          0     1
4          1     0
5          0     1
6          1     0
7          0     1
8          1     0
9          0     1
10         0     1
11         1     0
12         1     0
13         1     0
14         0     1
15         0     1
16         0     1
17         1     0
18         1     0
19         0     1
20         0     1
21         1     0
22         0     1
23         1     0
24         1     0
25         0     1
26         0     1
27         1     0
28         1     0
29         0     1
...      ...   ...
1279       1     0
1280       0     1
1281       0     1
1282       0     1
1283       0     1
1284       0     1
1285       0     1
1286       1     0
1287       0     1
1288       0     1
1289       0     1
1290       1     0
1291       0     1
1292       0     1
1293       0     1
1294       0     1
1295       0     1
1296       0     1
1297       0     1
1298       0     1
1299       0     1
1300       1     0
1301       0     1
1302       0     1
1303       0     1
1304       1     0
1305       1     0
1306       0     1
1307       0     1
1308       0     1

[1309 rows x 2 columns]

In [154]:
sex = pd.get_dummies(data["sex"],drop_first=True)

In [155]:
embarked = pd.get_dummies(data["embarked"],drop_first=True)
pclass = pd.get_dummies(data["pclass"],drop_first=True)

In [156]:
def add_age(cols):
    age = cols[0]
    pclass = cols[1]
    if pd.isnull(age):
        return int(data[data["pclass"] == pclass]["age"].mean())
    else:
        return age

In [157]:
data["age"] = data[["age", "pclass"]].apply(add_age,axis=1)

In [160]:
data = pd.concat([data,pclass,sex,embarked],axis=1)

In [238]:
data

,survived,age,sibsp,parch,fare,2,3,male,Q,S,2,3,male,Q,S,2,3,male,Q,S
0,1,29.0000,0,0,211.3375,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1
1,1,0.9167,1,2,151.5500,0,0,1,0,1,0,0,1,0,1,0,0,1,0,1
2,0,2.0000,1,2,151.5500,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1
3,0,30.0000,1,2,151.5500,0,0,1,0,1,0,0,1,0,1,0,0,1,0,1
4,0,25.0000,1,2,151.5500,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1
5,1,48.0000,0,0,26.5500,0,0,1,0,1,0,0,1,0,1,0,0,1,0,1
6,1,63.0000,1,0,77.9583,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1
7,0,39.0000,0,0,0.0000,0,0,1,0,1,0,0,1,0,1,0,0,1,0,1
8,1,53.0000,2,0,51.4792,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1
9,0,71.0000,0,0,49.5042,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0
10,0,47.0000,1,0,227.5250,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0
11,1,18.0000,1,0,227.5250,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12,1,24.0000,0,0,69.3000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,1,26.0000,0,0,78.8500,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1
14,1,80.0000,0,0,30.0000,0,0,1,0,1,0,0,1,0,1,0,0,1,0,1
15,0,39.0000,0,0,25.9250,0,0,1,0,1,0,0,1,0,1,0,0,1,0,1
16,0,24.0000,0,1,247.5208,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0
17,1,50.0000,0,1,247.5208,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
18,1,32.0000,0,0,76.2917,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19,0,36.0000,0,0,75.2417,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0
20,1,37.0000,1,1,52.5542,0,0,1,0,1,0,0,1,0,1,0,0,1,0,1
21,1,47.0000,1,1,52.5542,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1
22,1,26.0000,0,0,30.0000,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0
23,1,42.0000,0,0,227.5250,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
24,1,29.0000,0,0,221.7792,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1
25,0,25.0000,0,0,26.0000,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0
26,1,25.0000,1,0,91.0792,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0
27,1,19.0000,1,0,91.0792,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
28,1,35.0000,0,0,135.6333,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1
29,1,28.0000,0,0,26.5500,0,0,1,0,1,0,0,1,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,0,14.0000,0,0,7.8542,0,1,0,0,1,0,1,0,0,1,0,1,0,0,1
1280,0,22.0000,0,0,7.8958,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1
1281,0,22.0000,0,0,9.0000,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1
1282,0,24.0000,0,0,8.0500,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1
1283,0,24.0000,0,0,7.5500,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1
1284,0,24.0000,0,0,8.0500,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1
1285,0,32.5000,0,0,9.5000,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1
1286,1,38.0000,0,0,7.2292,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0
1287,0,51.0000,0,0,7.7500,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1
1288,0,18.0000,1,0,6.4958,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1
1289,0,21.0000,1,0,6.4958,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1
1290,1,47.0000,1,0,7.0000,0,1,0,0,1,0,1,0,0,1,0,1,0,0,1
1291,0,24.0000,0,0,8.7125,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1
1292,0,24.0000,0,0,7.5500,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1
1293,0,24.0000,0,0,8.0500,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1
1294,0,28.5000,0,0,16.1000,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1
1295,0,21.0000,0,0,7.2500,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1
1296,0,27.0000,0,0,8.6625,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1
1297,0,24.0000,0,0,7.2500,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1
1298,0,36.0000,0,0,9.5000,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1
1299,0,27.0000,1,0,14.4542,0,1,1,0,0,0,1,1,0,0,0,1,1,0,0
1300,1,15.0000,1,0,14.4542,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0
1301,0,45.5000,0,0,7.2250,0,1,1,0,0,0,1,1,0,0,0,1,1,0,0
1302,0,24.0000,0,0,7.2250,0,1,1,0,0,0,1,1,0,0,0,1,1,0,0
1303,0,24.0000,0,0,14.4583,0,1,1,0,0,0,1,1,0,0,0,1,1,0,0
1304,0,14.5000,1,0,14.4542,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0
1305,0,24.0000,1,0,14.4542,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0
1306,0,26.5000,0,0,7.2250,0,1,1,0,0,0,1,1,0,0,0,1,1,0,0
1307,0,27.0000,0,0,7.2250,0,1,1,0,0,0,1,1,0,0,0,1,1,0,0
1308,0,29.0000,0,0,7.8750,0,1,1,0,1,0,1,1,0,1,0,1,1,0,1

In [176]:
data.drop(["boat","body"],axis=1,inplace=True)

In [182]:
def add_survived(cols):
    survived = cols[0]
   
    if pd.isnull(survived):
        return int(data[data == survived]["survived"].mean())
    else:
        return survived

In [231]:
import numpy as np
data =data[~data.isin([np.nan, np.inf, -np.inf]).any(1)]

In [232]:
X = data.drop("survived",axis=1)
y = data["survived"]

In [233]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 101)

In [235]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

C:\Users\volka\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [236]:
predictions = logmodel.predict(X_test)
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.82      0.85      0.84       240
           1       0.75      0.70      0.73       153

   micro avg       0.79      0.79      0.79       393
   macro avg       0.79      0.78      0.78       393
weighted avg       0.79      0.79      0.79       393

In [237]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[205,  35],
       [ 46, 107]], dtype=int64)